body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.logo {
    width: 12.5rem;
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 0.9rem 1.8rem;
}

.navegacao {
    display: flex;
    justify-content: space-between;    
}

.bt-navegacao {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    margin: 0 1.25rem;
    padding: 0.6rem 1.25rem;
    color: black;
}

#home:hover, #about:hover, #service:hover, #price:hover, #pages:hover, #contact:hover {
    background-color: #FF4900;
    color: white;
    height: 100%;
}

.bt-cotacao {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 1.1rem 1.8rem;
    padding: 0.9rem;
    width: 9.3rem;
    height: 1.2rem;
    background-color: #FF4900;
    color: white;
}

.bt-cotacao:hover {
    background-color: #c63e09;
}

.imagem-header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 28.1rem;
    background-image: url('img/header.jpg');
    background-size: cover;
    text-align: center;   
}

.titulo {
    display: flex;
    flex-direction: column;
    padding-top: 3.7rem;
}

#titulo-home {
    font-size: 2.5rem;
    color: #FF4900;
    margin-bottom: 0;
}

h1 {
    font-size: 4.3rem;
    color: white;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.bt-pesquisar {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.pesquisa {
    width: 25rem;
    padding: 1rem;
    margin: 0;
    border: none;
}

.bt-pesquisa {
    width: 8.7rem;
    padding: 0.7rem;
    background-color: #FF4900;
    color: white;
    margin: 0;
    border-left: none;
    text-decoration: none;
}

.bt-pesquisa:hover {
    background-color: #c63e09;
}

.prim-sessao {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    margin: 3.1rem 0;
    padding: 0 2.5rem;
}

#texto-cotacao {
    text-align: left;
    font-size: 1.2rem;
    width: 50rem;
    color: grey;
    padding: 1.8rem 1.8rem 0 1.8rem;
}

#obter-cotacao {
    color: #FF4900;
    font-weight: bold;
    font-size: 0.9rem;
    padding-top: 0.6rem;
}

#titulo-cotacao {
    color: #101017;
    font-size: 2.5rem;
    margin-top: 0;
}

.visita {
    display: flex;
    padding-left: 1rem;
    padding-bottom: 1.8rem;
}

.visitas {
    display: flex;
    margin: 1.5rem;
    font-size: 3.1rem;
    color: #FF4900;
    font-weight: bold;
}

.visitas2 {
    display: flex;
    margin: 1.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF4900;
    width: 21.8rem;
    padding: 1.2rem;
}

.caixa-selecao {
    padding: 0.9rem;
    margin: 0.6rem;
}

#bt-submit {
    padding: 1.5rem;
    background-color: #101017;
    color: white;
}

#bt-submit:hover {
    color: gray;
    cursor: pointer;
}

.planos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planos-mensais {
    display: flex;
}

.princ-planos {
    color: #FF4900;
    font-size: 1rem;
    margin-top: 3.1rem;
    margin-bottom: 0;
}

.princ-packages {
    color: #101017;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.planos-mensais-hidden {
    display: flex;
    flex-direction: column;
    width: 18.7rem;
    padding: 0;
    margin: 0 1.2rem;
    background-color: #ECECEC;
    align-items: center;
}

.tipo-plano {
    background-color: #FF4900;
    width: 100%;
    margin: 0;
    padding: 0.3rem 0;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    color: #101017;
}

.valores-plano {
    text-align: center;
    font-size: 0.7rem;
    color: grey;
}

.valor {
    font-size: 2.8rem;
    color: #101017;
    font-weight: bold;
}

.descricao-plano {
    font-size: 0.8rem;
    margin-bottom: 0;
    color: grey;
}

.bt-planos {
    text-decoration: none;
    margin: 0.9rem;
    padding: 0.5rem;
    background-color: #FF4900;
    color: white;
    font-size: 0.7rem;
    width: 100px;
    text-align: center;
}

.bt-planos:hover {
    cursor: pointer;
    background-color: #c63e09;
}

#time-delivery {
    color: #FF4900;
    font-size: 1rem;
    margin-top: 4.3rem;
    margin-bottom: 0;
}

#conheca-time {
    color: #101017;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.equipe-entrega-pai {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionarios-entrega {
    display: flex;
    justify-content: center;
}

.funcionarios {
    margin: 0.6rem;
    text-align: center;
    background-color: #ECECEC;
    border-bottom: 0.3rem solid #FF4900;
    justify-content: center;
}

.foto-funcionario {
    width: 14.3rem;
}

.nome-funcionario {
    color: #101017;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.cargo-funcionario {
    color: grey;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o-blog {
    color: #FF4900;
    font-size: 1rem;
    margin-top: 4.3rem;
    margin-bottom: 0;
}

.novidades-blog {
    color: #101017;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.publi-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56.2rem;
}

.publicacoes {
    background-color: #F2F2F4;
    margin: 0.6rem;
    width: 30rem;
    padding-bottom: 1rem;
}

.imagem-blog {
    width: 30rem;
}

.titulo-publi {
    margin-left: 1.5rem;
    margin-top: 0;
    font-size: 1.2rem;
    color: #101017;
}

.texto-publi {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
    color: grey;
}

.link-publi {
    margin-left: 1.5rem;
    color: #FF4900;
    font-size: 1rem;
    text-decoration: none;
    border-bottom: 1px solid #FF4900;
    margin-bottom: 1.2rem;
}

.inicio-footer {
    display: flex;
    justify-content: space-between;
    background-color: #28283a;
    margin-top: 1.8rem;
    padding: 3.7rem 3.1rem;
    color: #F2F2F4;
    font-size: 0.8rem;
}

.titulo-footer {
    color: #FF4900;
    font-size: 1.6rem;
       
}

.redes-sociais {
    width: 1.1rem;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.3rem;
    margin: 0.1rem;
}

.menus-footer {
    display: flex;
    flex-direction: column;
    
}

.links-menu {
    text-decoration: none;
    color: #F2F2F4;
    padding: 0.3rem;
}

.email-footer {
    width: 45%;
}

#input-email {
    height: 1.2rem;
    width: 37.5rem;
    padding: 0.6rem;
    text-align: left;
    font-size: 1rem;
    margin-top: 1.2rem;
}

#bt-email-footer {
    height: 1.4rem;
    width: 5rem;
    padding: 0.6rem;
    background-color: #FF4900;
    text-decoration: none;
    color: #F2F2F4;
    text-align: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-top: 1.2rem;
}

#bt-email-footer:hover {
    background-color: #c63e09;
    color: white;
}

.fim-footer {
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid darkgrey;
    background-color: #28283a;
    padding: 1.8rem 3.1rem;
    font-size: 0.8rem;
}

.final-footer {
    color: #FF4900;
}

.direitos-footer {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #ECECEC;  
}

.direitos {
    padding: 0px;
    margin: 0px;
}

.opcoes-extras-footer {
    color: #F2F2F4;
    display: flex;
    text-decoration: none;
    padding: 0 0.6rem;
}

.opcoes-extras-footer:hover {
    cursor: pointer;
}