body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.logo {
    width: 200px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    margin: 15px 30px;
}

.navegacao {
    display: flex;
    justify-content: space-between;    
}

.bt-navegacao {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    margin: 0 20px;
    padding: 10px 20px;
    color: black;
}

#home:hover, #about:hover, #service:hover, #price:hover, #pages:hover, #contact:hover {
    background-color: #FF4900;
    color: white;
    height: 100%;
}

.bt-cotacao {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 18px 30px;
    padding: 15px;
    width: 150px;
    height: 20px;
    background-color: #FF4900;
    color: white;
}

.bt-cotacao:hover {
    background-color: #c63e09;
}

.imagem-header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 450px;
    background-image: url('img/header.jpg');
    background-size: cover;
    text-align: center;   
}

.titulo {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

#titulo-home {
    font-size: 40px;
    color: #FF4900;
    margin-bottom: 0;
}

h1 {
    font-size: 70px;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}

.bt-pesquisar {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.pesquisa {
    width: 400px;
    padding: 16px;
    margin: 0;
    border: none;
}

.bt-pesquisa {
    width: 140px;
    padding: 12px;
    background-color: #FF4900;
    color: white;
    margin: 0;
    border-left: none;
    text-decoration: none;
}

.bt-pesquisa:hover {
    background-color: #c63e09;
}

.prim-sessao {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    margin: 50px 0;
    padding: 0 40px;
}

#texto-cotacao {
    text-align: left;
    font-size: 20px;
    width: 800px;
    color: grey;
    padding: 30px 30px 0 30px;
}

#obter-cotacao {
    color: #FF4900;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
}

#titulo-cotacao {
    color: #101017;
    font-size: 40px;
    margin-top: 0;
}

.visita {
    display: flex;
    padding-left: 16px;
    padding-bottom: 30px;
}

.visitas {
    display: flex;
    margin: 25px;
    font-size: 50px;
    color: #FF4900;
    font-weight: bold;
}

.visitas2 {
    display: flex;
    margin: 25px;
    font-size: 15px;
    font-weight: bold;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF4900;
    width: 350px;
    padding: 20px;
}

.caixa-selecao {
    padding: 15px;
    margin: 10px;
}

#bt-submit {
    padding: 25px;
    background-color: #101017;
    color: white;
}

#bt-submit:hover {
    color: gray;
    cursor: pointer;
}

.planos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planos-mensais {
    display: flex;
}

.princ-planos {
    color: #FF4900;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 0;
}

.princ-packages {
    color: #101017;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
}

.planos-mensais-hidden {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0;
    margin: 0 20px;
    background-color: #ECECEC;
    align-items: center;
}

.tipo-plano {
    background-color: #FF4900;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #101017;
}

.valores-plano {
    text-align: center;
    font-size: 12px;
    color: grey;
}

.valor {
    font-size: 45px;
    color: #101017;
    font-weight: bold;
}

.descricao-plano {
    font-size: 13px;
    margin-bottom: 0;
    color: grey;
}

.bt-planos {
    text-decoration: none;
    margin: 15px;
    padding: 8px;
    background-color: #FF4900;
    color: white;
    font-size: 12px;
    width: 100px;
    text-align: center;
}

.bt-planos:hover {
    cursor: pointer;
    background-color: #c63e09;
}

#time-delivery {
    color: #FF4900;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 0;
}

#conheca-time {
    color: #101017;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
}

.equipe-entrega-pai {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.funcionarios-entrega {
    display: flex;
    justify-content: center;
}

.funcionarios {
    margin: 10px;
    text-align: center;
    background-color: #ECECEC;
    border-bottom: 5px solid #FF4900;
    justify-content: center;
}

.foto-funcionario {
    width: 230px;
}

.nome-funcionario {
    color: #101017;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.cargo-funcionario {
    color: grey;
    font-size: 15px;
    margin-top: 5px;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o-blog {
    color: #FF4900;
    font-size: 16px;
    margin-top: 70px;
    margin-bottom: 0;
}

.novidades-blog {
    color: #101017;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 5px;
}

.publi-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.publicacoes {
    background-color: #F2F2F4;
    margin: 10px;
    width: 480px;
    padding-bottom: 15px;
}

.imagem-blog {
    width: 480px;
}

.titulo-publi {
    margin-left: 25px;
    margin-top: 0;
    font-size: 20px;
    color: #101017;
}

.texto-publi {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;
    color: grey;
}

.link-publi {
    margin-left: 25px;
    color: #FF4900;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #FF4900;
    margin-bottom: 20px;
}

.inicio-footer {
    display: flex;
    justify-content: space-between;
    background-color: #28283a;
    margin-top: 30px;
    padding: 70px 50px;
    color: #F2F2F4;
    font-size: 14px;
}

.titulo-footer {
    color: #FF4900;
    font-size: 26px;
       
}

.redes-sociais {
    width: 18px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
}

.menus-footer {
    display: flex;
    flex-direction: column;
    
}

.links-menu {
    text-decoration: none;
    color: #F2F2F4;
}

.email-footer {
    width: 45%;
}

#input-email {
    height: 20px;
    width: 600px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
}

#bt-email-footer {
    height: 23px;
    width: 80px;
    padding: 10px;
    background-color: #FF4900;
    text-decoration: none;
    color: #F2F2F4;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

#bt-email-footer:hover {
    background-color: #c63e09;
    color: white;
}

.fim-footer {
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid darkgrey;
    background-color: #28283a;
    padding: 30px 50px;
    font-size: 14px;
}

.final-footer {
    color: #FF4900;
}

.direitos-footer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #ECECEC;  
}

.direitos {
    padding: 0px;
    margin: 0px;
}

.opcoes-extras-footer {
    color: #F2F2F4;
    display: flex;
    text-decoration: none;
    padding: 0 10px;
}

.opcoes-extras-footer:hover {
    cursor: pointer;
}